MAIN_DB_HOST=IP_DEL_SERVER
MAIN_DB_NAME=db_name
MAIN_DB_USER=root
MAIN_DB_PASSWORD=password
MAIN_DB_PORT=5432

TELEMETRY_DB_HOST=IP_DEL_SERVER
TELEMETRY_DB_NAME=db_name
TELEMETRY_DB_USER=root
TELEMETRY_DB_PASSWORD=password
TELEMETRY_DB_PORT=5432
